# psycopg

Zrobić tabelę tasks

description

assignee

is_completed

In [1]:
import psycopg

In [2]:
conn = psycopg.connect( 
    host="localhost",
    port=5432,
    dbname="postgres",
    user="postgres",
    password="postgres")

In [3]:
cursor = conn.cursor()

## CREATE

In [81]:
create_query = """CREATE TABLE test(
a INTEGER,
b TEXT
);
"""

In [ ]:
cursor.execute(create_query)

In [49]:
conn.commit()

## INSERT

In [50]:
insert_query = "INSERT INTO test1 VALUES(1, 'abc')"

cursor.execute(insert_query)

int_value = 2
str_value = "def"

cursor.execute("INSERT INTO test1 VALUES(%s, %s)", (int_value, str_value))

In [36]:
# query = sql.SQL("INSERT INTO test VALUES({int_value}, {str_value})").format(int_value=3, str_value="xyz")
# query.as_string()

In [52]:
conn.commit()

## SELECT

In [68]:
select_query = "SELECT * FROM test1"

cursor.execute(select_query)

In [76]:
results = cursor.fetchone()

In [77]:
results